#headId
{
    background-color: lightgreen;
    color: white;
    text-align: center;
}
.inpClass
{
    padding: 1rem;
    margin: auto;
    border: 2px solid red;
}
#textInput
{
    border: 1px solid greenyellow;
}
#mainCard
{
    padding: 1rem;
}